.NotFound {
    padding: 10px;
    background: #22455b;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NotFound a {
    text-decoration: none;
    color: #fff;
}

.NotFound a:hover {
    opacity: 0.8;
}