.About {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
}

.About img {
    display: block;
    border-radius: 50%;
    flex-shrink: 0;
    height: 50%;
}

.text {
    margin: 0 20px;
}

