.Menu {
    padding: 20px;
    width: max-content;
    height: 100%;
    min-height: 100vh;
    background: #22455b;
    display: flex;
    flex-direction: column;
}

.Menu ul {
    list-style: none;
}

.Menu li,
.MenuEnd {
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

.Menu li a,
.MenuEnd a {
    text-decoration: none;
    color: #fff;
}

.MenuEnd {
    margin-top: auto;
}

.Menu li a:hover,
.Menu li a:active,
.Menu li a.active {
    opacity: 0.8;
}

.Avatar img {
    border-radius: 50%;
}