.Modal {
    width: 80%;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
}

.Backdrop {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.Show {
    display: block;
}

.Hide {
    display: none;
}