.Modal {
    padding: 20px;
    margin: auto 0;
    background: #fff;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
}

.Backdrop {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.Show {
    display: block;
}

.Hide {
    display: none;
}