.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.About img {
    display: block;
    border-radius: 50%;
    flex-shrink: 0;
    height: 50%;
}

.About > div {
    width: auto;
    padding: 20px;
}
