.Header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 70px;
}

.Header ul {
    display: flex;
    list-style: none;
}

.Header li {
    padding: 5px;
    border-right: 1px solid black;
}

.Header li:last-child {
    border: none
}

.Header li a {
    text-decoration: none;
    cursor: pointer;
    margin: 0 5px;
}

.Header li a:hover,
.Header li a:active,
.Header li a.active {
    opacity: 0.5;
}