.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid black;
}

.Header ul {
    list-style: none;
    display: flex;
}

.Header li {
    margin: 0 10px;
}

.Header li a {
    text-decoration: none;
    font-size: 20px;
}

.Header li a:hover,
.Header li a:active,
.Header li a.active {
    opacity: 0.8;
}

.Logo {
    margin: 0 10px;
}