.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: #22455b;
    z-index: 2;
}

.Header ul {
    list-style: none;
    display: flex;
}

.Header li {
    margin: 0 10px;
}

.Header li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.Header li a:hover,
.Header li a:active,
.Header li a.active {
    opacity: 0.8;
}

@media (max-width: 500px) {
    .Header li {
        margin: 10px;
    }
}