.Header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.Header ul {
    display: flex;
    list-style: none;
}

.Header li {
    padding: 5px;
    border-right: 1px solid black;
}

.Header li:last-child {
    border: none
}

.Header a {
    text-decoration: none;
    cursor: pointer;
    margin: 0 5px;
}

.Header a:hover,
.Header a:active,
.Header a.active {
    opacity: 0.8;
}

.Header nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header .Logo a:hover {
    opacity: 1;
}