.Owner {
    width: 100%;
}

.Owner form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}

.Owner input,
.Owner textarea {
    width: 80%;
}

.Owner input[type='submit'] {
    margin: 10px 0;
    width: 40%;
}