.Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Contact textarea {
    width: 100%;
    display: block;
    min-height: 200px;
}

.Contact button {
    margin: 5px 0
}
