.Article {
    width: 100%;
}

.Article form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 80%;
}

.Article input[type='submit'] {
    margin: 10px 0;
    width: 40%;
}