.Login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Box {
    padding: 20px;
    text-align: center;
    background: #22455b;
    color: #fff;
}

.Box > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px 0;
}

.Box button {
    width: 100%;
    margin-top: 10px;
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
}