.Login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Box {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.Box > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px 0;
}

.Box button {
    text-decoration: none;
    width: 100%;
    padding: 5px;
    margin-top: 10px
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
}