.Card {
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    color: #fff;
    height: 230px;
    background: #333;
    position: relative;
}

.Backdrop {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.Image img {
    display: block;
    width: 100%;
    height: 100%;
}

.Content {
    width: 100%;
    z-index: 1;
}