.Card {
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
    display: flex;
}

.Image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.Image img {
    display: block;
    width: 100%;
    height: 100%;
}