main {
  margin-top: 100px;
  flex: 1;
}

.fx {
  display: flex;
}

.fx-col {
  flex-direction: column;
}

.h_100 {
  height: 100%;
}

.ProjectTitle {
  display: flex;
  align-items: center;
}

.ProjectTitle a {
  margin: 0 5px;
  text-decoration: none;
  color: #fff;
}

.ProjectTitle a:hover {
  opacity: 0.8;
}

.ProjectTitle h1 {
  margin-right: 5px;
}


.formGroup {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.formGroup input,
.formGroup textarea {
  padding: 10px;
  outline: #f4f4f4;
  border: none;
  border-radius: 5px;
}

.formGroup label {
  margin: 8px 0;
  font-weight: 500;
}

.cardWrapper {
  width: 80%;
  margin: auto;
}

.btn {
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #54ace4;
  color: #fff;
  font-size: 20px;
}

.btn:hover {
  opacity: 0.8;
}

.wrapper {
  width: 70%;
  max-width: 700px;
}

.delete {
  margin: 5px;
  margin-left: auto;
}

.delete button {
  background: transparent;
  color: #fff;
  border: none;
}

.delete button:hover,
.delete button i:hover {
  opacity: 0.8;
  cursor: pointer;
}

.Image {
  width: 100%;
  height: 400px;
}

.Image img {
  display: block;
  width: 100%;
  height: 100%;
}

.Content {
  background: #fff;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  margin-top: -50px;
  margin-bottom: 8px;
  padding: 20px;
}

.Content i {
  color: #333;
}