main {
    margin: 150px 0
}

.ProjectTitle {
    display: flex;
    align-items: center;
}

.ProjectTitle h2 {
    margin-right: 5px;
}

.ProjectTitle a {
    margin: 0 5px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}