main {
    margin-top: 70px;
}

.ProjectTitle {
    display: flex;
}

.ProjectTitle a {
    text-decoration: none;
    align-self: center;
    text-align: center;
    margin: 0 5px;
}

.wrapper {
    width: min-content;
    height: min-content;
    align-self: center;
}

.formGroup {
    margin: 10px 0;
}

.loginLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    border-radius: 5px;
    box-shadow: 0 2px 2px var(--dark-color);
    padding: 10px;
    margin: 5px;
    background: var(--secondary-color);
    color: var(--dark-color);
    min-width: 80%;
}

.card:hover {
    cursor: pointer;
}

.card i {
    color: var(--dark-color);
}

.card.about {
    display: flex;
    padding: 20px;
}

.card.about p {
    margin: 10px;
}

.bg-primary {
    background: var(--dark-color);
    color: var(--light-color);
}

.bg-heading {
    background: var(--heading-color);
    color: var(--light-color);
}

.bg-heading a,
.bg-primary a {
    color: var(--light-color);
}