main {
    margin-top: 100px;
    flex: 1;
}

.ProjectTitle {
    display: flex;
    align-items: center;
}

.ProjectTitle h2 {
    margin-right: 5px;
}

.ProjectTitle a {
    margin: 0 5px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.cardWrapper {
    width: 80%;
    margin: auto;
}